.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0fdf5;
}

.login-form {
  background: white;
  padding: 40px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  color: #39e079;
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #39e079;
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #33c36b;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}
.link {
  color: #39e079;
  text-decoration: none;
}
